.body_bg {
  background-color: #222D32;
}
  

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.panel .panel-title {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 23px;
}
.mt_150 {
  margin-top: 150px;
}
.container .panel-body {
  padding: 20px;
}
.lt_aside {
  width: 180px;
  height: 100%;
  position: fixed;
  left: 0;
  top:0;
  background: #222D32;
  transition: all 1s;
}
.lt_aside.hideMune {
  left: -180px;
}
.lt_aside .brand {
  height: 50px;
  width: 100%;
  line-height: 50px;
  text-align: center;
  font-size: 25px;
  color: #fff;
  background-color: #367FA9;
}
.lt_aside .brand a {
  color: #fff;
}
.lt_aside .user {
  text-align: center;
  padding-top: 30px;
  height: 180px;
}
.lt_aside .user img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.lt_aside .user p {
  color: #fff;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
}
.lt_aside .nav {
  
}
.lt_aside .nav ul {
  
}
.lt_aside .nav ul li a{
  width: 100%;
  display: block;
  height: 40px;
  line-height: 40px;
  padding-left: 40px;
  border-left: 3px solid transparent;
  box-sizing: border-box;
  color: #fff;
}
.lt_aside .nav ul li a span {
  padding-left: 5px;
}
.lt_aside .nav ul li  .child a {
  padding-left: 60px;
  
}
.lt_aside .nav ul li  .child a.current{
  background-color: #1D1F21;
  border-left: 3px solid #006699;
}
.current{
  background-color: #1D1F21;
  border-left: 3px solid #006699;
}
.lt_main {
  height: 1000px;
  padding-left: 180px;
  transition: all 1s;
}
.lt_main .lt_topbar {
  height: 50px;
  line-height: 50px;
  background-color: #367FA9;
  text-align: center;
}
.lt_main.hideMune{
  padding-left: 0;
}
.lt_main .lt_topbar i {
  width: 50px;
  height: 50px;
  color: #fff;
  line-height: 50px;
  font-size: 20px;
}
.mt_20 {
  margin-top: 20px;
}
#myModal i{
  color: #A94442;
}
.lt_content {
  width: 100%;
  
}
.echarts_1 , .echarts_2 {
  width: 629px;
  height: 400px;
}